:root {
  --mainColor: #557fb8;
  --secondaryColor: #ea8473;
  --backgroundColor: #101418;
  font-family: sans-serif;
}
* {
  border: 0;
  margin: 0;
}

body {
  background-color: #101418;
  color: white;
}
.hero .logo {
  padding-top: 2rem;
  mask-image: url("./img/logotransp.png");
  mask-position: center;
  mask-size: 99%;
  mask-repeat: no-repeat;
  width: 500px;
  height: 500px;
  transition: 0.3s;
}
.logo:hover {
  mask-size: 90%;
}

.logo {
  background: linear-gradient(269deg, #00ffbd, #2a7b9b, #00e850);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 62%;
  }
  50% {
    background-position: 100% 39%;
  }
  100% {
    background-position: 0% 62%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 62%;
  }
  50% {
    background-position: 100% 39%;
  }
  100% {
    background-position: 0% 62%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 62%;
  }
  50% {
    background-position: 100% 39%;
  }
  100% {
    background-position: 0% 62%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.function {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#feeling {
  filter: drop-shadow(0px 0px 100px rgb(39, 255, 15));
  transition: 0.5s ease-in-out;
}

#feeling:focus {
  filter: drop-shadow(0px 0px 0px black);
  border: 1px #00e850;
}
