:root {
  --mainColor: #557fb8;
  --secondaryColor: #ea8473;
  --backgroundColor: #101418;
  font-family: sans-serif;
}
* {
  border: 0;
  margin: 0;
}

body {
  background-color: #101418;
  color: white;
}
.hero .logo {
  padding-top: 2rem;
  background-image: url("./img/logotransp.png");
  width: 500px;
  height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.function {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 20px 50px rgb(0, 0, 0));
}
