:root {
--mainColor: #557FB8;
--secondaryColor: #EA8473; 
--backgroundColor: #101418;
}
* {
    background-color: var(--backgroundColor);
    color: azure;
    font-family: "Noto Family", Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
}

.hero img {
   width: 450px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0;
}
@keyframes breathe {
    from {transform: scale(1);} 
    to {transform: scale(1.05);}
}
.hero img:hover {
    animation: breathe 0.8s infinite alternate ease-in-out;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
 
}
   
p {
    text-align: center;
    margin-top: 5px;
    background-color: var(--backgroundColor);
    color: azure;
    padding: 15px;
}

.search {
    
    font-size: 20px;
    text-align: center;
    background-color: var(--backgroundColor);
    color: azure;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.widget {
    
    font-size: 15px;
    text-align: center;
    background-color: var(--backgroundColor);
    color: azure;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button {
    background-color: var(--mainColor);
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background-color: var(--secondaryColor);
}

input {
    background-color: var(--mainColor);
    font-size: 20px;
    border-radius: 6px;
    color:azure; 
}
input::placeholder {
    color: var(--secondaryColor);
    font-style: italic;
    opacity: 0.7;
}

li{
    color: azure;
    padding: 10px;   
    list-style: none;
}

h2 {
    padding-bottom: 10px;
    background: -webkit-linear-gradient(var(--mainColor), var(--secondaryColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;

}